*{
    margin: 0;
}
.main{
    display: grid;
    grid-template-columns: repeat(4, 22%);
    justify-content: space-evenly;
    overflow: hidden;
    background-color: #023345;
    padding: 2vh 0;
}
.sec-Item{
    background-color: #09092b;
    box-shadow: 0 0 4px #0b0147;
    border-radius: 4px;
    color: rgb(255, 255, 255);
    margin-bottom: 3vh;
    height: 70vh;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}
.sec-Item > h5{
    text-align: left;
    padding: 0 5%;
}
.sec-Item > a{
    text-decoration: none;
    color: white;
    background-color: white;
    color: black;
    font-weight: 600;
    padding: 8px 20px;
    box-shadow: 0 0 4px #003961;
    border-radius: 4px;
    transition: 0.4s;
}
.sec-Item > a:hover{
    background-color: #6dc2ff ;
    transition: 0.4s;
    color: white;
    text-shadow: 0 0 2px black;
}
@media only screen and (max-width: 1200px) {

}
@media only screen and (max-width: 992px) {
    .main{
        grid-template-columns: repeat(3, 29%);
    }
}
@media only screen and (max-width: 768px) {
    .main{
        grid-template-columns: repeat(2, 44%);
    }
}
@media only screen and (max-width: 576px) {
    .main{
        grid-template-columns: repeat(1, 88%);
    }
}
@media only screen and (max-width: 320px) {
    .main{
        grid-template-columns: repeat(1, 88%);
    }
}